/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
  text-align: center;
  background-image: url("//angs-corner.nekoweb.org/images/pink145.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #8099cb;
  border-radius: 15px;
}
.site-box > a > p {
  color: #573946;
  font-family: Comic Sans MS;
  font-size: 15px;
  background-color: transparent;
  margin-left: 25px;
  margin-right: 30px;
  margin-top: 10px;
  position: absolute;
  top: -150px;
}
.site-box > a > span {
  display: none;
}

.site-box .sitefeature {
  border-radius: 15px;
  border: 2px solid white;
  background-image: url("//angs-corner.nekoweb.org/images/angs-corner-double.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 26px;
}

.site-box .sitefeature img {
  display: none;
}

.site-box:hover {
  background-image: url("//angs-corner.nekoweb.org/images/starbg2.gif");
  border: 2px solid #ccff00;
  border-radius: 0px;
  p {
    color: white;
    font-family: Monospace;
    font-size: 13px;
    margin-left: 25px;
    margin-right: 30px;
    margin-top: 13px;
    border-radius: 5px;
  }
}
