:root {
  --text: #ffffff;
  --hilight: #ccff00;
  --boxbackground: #000000;
}

html {
  cursor: url("/images/win982.png"), default;
  height: 100vh;
}

body {
  background-image: url("/images/starbg2.gif");
  color: var(--text);
  font-family: "VT323", monospace;
  margin: 0;
  line-height: 120%;
}

hr {
  border-width: 0;
  height: 2px;
  border-top: 2px dashed var(--text);
}

h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}

figcaption {
  font-size: 15px;
  color: var(--text);
  margin-top: 5px;
}

.theme-1 {
  display: none;
}

button:hover {
  cursor: pointer;
}

#postDate {
  text-align: left;
  margin-left: 30px;
}

.archivediv {
  margin-top: 20px;
}

/* HOME PAGE */
/* HEADER */
.header {
  width: 1090px;
  height: 110px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.header h1 {
  position: absolute;
  top: 45px;
  left: 46%;
  width: 400px;
  text-align: center;
  color: var(--text);
  font-size: 70px;
  z-index: 1;
}

.header h1:hover {
  color: var(--hilight);
}

.angy {
  width: 120px;
  position: absolute;
  top: 734%;
  left: 109%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px black;
}

.link-back {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 86%;
  left: 2%;
  border: 1px solid var(--text);
  padding: 10px;
  padding-top: 15px;
  background-color: var(--boxbackground);
}

.link-back:hover {
  p {
    color: var(--hilight);
  }
  border: 1px solid var(--hilight);
}

.link-back-button {
  padding-bottom: 10px;
}

textarea {
  font-size: 12px;
}

.olruggio {
  height: 130px;
  position: absolute;
  top: -0.2%;
  left: 26%;
  -webkit-filter: drop-shadow(0px 0px 3px white);
  filter: drop-shadow(0px 0px 3px white);
  z-index: -1;
}

.content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
}

.bestviewed {
  margin-top: 20px;
}

/* RIGHT SIDEBAR */
.rightbar {
  width: 180px;
  margin-top: 5px;
  float: right;
}

.clap {
  padding: 10px;
  padding-bottom: 8px;
  border: 1px solid var(--text);
  background-color: var(--boxbackground);
  text-align: center;
}

.clap img {
  padding-top: 2px;
}

.clap:hover {
  border: 1px solid var(--hilight);
}

.clapheading {
  width: 130px;
}

.guestbook-link {
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--text);
  padding: 10px;
  background-color: var(--boxbackground);
}

.guestbook-link:hover {
  border: 1px solid var(--hilight);
}

.guestbookGif {
  width: 150px;
}

#guestbook-frame {
  width: 100%;
  height: 600px;
  border: 0;
}

.tamanotchi {
  width: 160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--text);
  padding: 10px;
  background-color: var(--boxbackground);
}

.tamanotchi:hover {
  border: 1px solid var(--hilight);
}

.tamanotchiheading {
  width: 120px;
  padding-bottom: 5px;
}

.sidestamp {
  padding-bottom: 7px;
}

.cursorattribution {
  margin: 0 auto;
  border: 1px solid var(--text);
  padding: 10px;
  text-align: center;
  background-color: var(--boxbackground);
}

.visitorheading {
  width: 80px;
}

.visitors {
  border: 1px solid var(--text);
  padding: 10px;
  background-color: var(--boxbackground);
  text-align: center;
  height: 23px;
  padding-top: 15px;
}

.visitors:hover {
  border: 1px solid var(--hilight);
}

.visitcount {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.style-changer {
  border: 1px solid var(--text);
  padding: 10px;
  background-color: var(--boxbackground);
  text-align: center;
}

.style-changer:hover {
  border: 1px solid var(--hilight);
}

button {
  background-color: var(--boxbackground);
  border: none;
  border-radius: 10px;
  color: var(--text);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: "VT323", monospace;
}

button:hover {
  background-image: url("/images/multi022.jpg");
  font-family: "Gaegu", sans-serif;
  font-size: 14px;
}

.find-me {
  border: 1px solid var(--text);
  padding: 10px;
  background-color: var(--boxbackground);
}

.find-me:hover {
  border: 1px solid var(--hilight);
}

.chatbox {
  border: 1px solid var(--text);
  background: var(--boxbackground);
  padding-left: 5px;
  padding-right: 5px;
}

.chatbox:hover {
  border: 1px solid var(--hilight);
}

.pp {
  padding: 0;
  margin: 0;
}

/* CENTER MAIN CONTENT */
.main {
  width: 740px;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;
  height: 675.5px;
  overflow-x: auto;
}

.main .link {
  color: var(--hilight);
}

.welcome {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 50px;
}

.gifheading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcomePost {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  border: 1px solid var(--text);
  padding: 10px;
  background-color: var(--boxbackground);
}

.welcomePost:hover {
  border: 1px solid var(--hilight);
  h2 {
    color: var(--hilight);
  }
  p {
    color: var(--text);
  }
  .favoriteslists {
    color: var(--text);
  }
  .list {
    color: var(--text);
  }
  .box-title {
    color: var(--hilight);
  }
  ul {
    color: var(--text);
  }
  h3 {
    color: var(--text);
  }
  .box-title-welcome {
    color: var(--hilight);
  }
  .blog-h1 {
    color: var(--hilight);
  }
  .green-hover {
    color: var(--hilight);
  }
}

.welcomePost p,
.welcomePost h2 {
  text-align: left;
}

.welcomeGif {
  width: 500px;
  padding-top: 10px;
}

marquee img {
  padding-right: 10px;
}

.extraspace {
  padding-top: 15px;
}

.aboutGif {
  width: 200px;
  padding-top: 10px;
}

.facts {
  display: flex;
  width: 560px;
  text-align: left;
  flex-wrap: wrap;
  padding: 10px;
  padding-right: 0;
}

.abitaboutme {
  color: var(--text);
}

.abitaboutme h2 {
  padding: 0;
  margin: 0;
}

.quickfacts {
  margin-bottom: 20px;
  margin-right: 30px;
}

.morefavorites {
  width: 200px;
  padding-top: 24px;
}

.facts p {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.facts ul {
  margin: 0;
  list-style-type: ">> ";
}

.funfacts {
  margin-bottom: 13px;
}

.marin-kitagawa {
  height: 380px;
  margin-left: -30px;
}

.about-me-main-pg {
  display: flex;
  width: 690px;
  align-items: start;
  padding-left: 10px;
}

.welcomePost h3 {
  padding-bottom: 5px;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: var(--text);
}

.link:hover {
  color: var(--hilight);
}

.leftflower {
  display: none;
}

.rightflower {
  display: none;
}

.centerimg {
  display: block;
  margin: auto;
}

.stampsScroll {
  padding-top: 20px;
}

.centerimg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* LEFT SIDEBAR */
.leftbar {
  width: 180px;
  margin-top: 5px;
  float: left;
}

.navbar {
  padding: 10px;
  border: 1px solid var(--text);
  color: var(--text);
  background-color: var(--boxbackground);
  height: 155.5px;
  overflow-x: scroll;
}

.navbar:hover {
  border: 1px solid var(--hilight);
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-box {
  margin-top: 17px;
  position: relative;
}

.side-box-about {
  margin-top: 19px;
  position: relative;
}

.box-title {
  background-color: var(--boxbackground);
  position: absolute;
  top: -25px;
  left: 15px;
  font-size: 16px;
}

.box-title-welcome {
  background-color: var(--boxbackground);
  position: absolute;
  top: -25px;
  left: 28px;
  font-size: 16px;
}

#statuscafe-content {
  height: 67px;
  overflow-x: auto;
  line-height: 100%;
}

#statuscafe-username {
  display: none;
}

#statuscafe-content:hover {
  color: var(--text);
}

.mystatus {
  margin-top: 5px;
  padding: 10px;
  padding-bottom: 0;
  height: 70px;
  border: 1px solid var(--text);
  background-color: var(--boxbackground);
}

.mystatus:hover {
  border: 1px solid var(--hilight);
}

.mystatus p {
  margin-top: 0;
  padding-top: 0;
}

.navbar h3 {
  padding: 0;
  margin: 0;
}

.indentList {
  list-style-type: none;
}

.timeheading {
  width: 80px;
}

.mytime {
  padding: 10px;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--text);
  background-color: var(--boxbackground);
  text-align: center;
}

.mytime:hover {
  border: 1px solid var(--hilight);
}

.side-box:hover {
  color: var(--hilight);
}

.navlinkbox {
  border: 1px solid var(--text);
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 0.5px;
  text-align: center;
  background-color: var(--boxbackground);
}

.navlinkbox:hover {
  border: 1px solid var(--hilight);
}

.navlinkads {
  width: 160px;
  height: 160px;
}

.navlink {
  color: var(--text);
  text-decoration: none;
}

.navlink:hover {
  color: var(--hilight);
}

.navList li:hover {
  color: var(--hilight);
}

.statuspost {
  height: 100px;
  overflow-y: auto;
}

.statuscafe {
  width: 160px;
}

.changelog {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--text);
  color: var(--text);
  scrollbar-width: thin;
  background-color: var(--boxbackground);
}

.changelog:hover {
  border: 1px solid var(--hilight);
}

.changelogheading {
  width: 100px;
  padding: 0;
  margin: 0;
}

.changelogposts {
  height: 100px;
  overflow-y: auto;
}

.changelogposts > p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.1;
  padding-bottom: 6px;
}

.timecounter {
  pointer-events: none;
}

.statuspost {
  height: 60px;
}

/* OTHER HOMEPAGE STYLES */
.hilight {
  color: var(--hilight);
}

.sidebarHeading {
  width: 100px;
}

.buttons {
  width: 160px;
  display: flex;
  justify-content: left;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 12.5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--text);
  scrollbar-width: thin;
  background-color: var(--boxbackground);
}

.buttons:hover {
  border: 1px solid var(--hilight);
}

.buttons > img {
  padding-right: 3px;
  padding-bottom: 3px;
}

.borderblinkie {
  padding-top: 10px;
  margin-bottom: 0;
}

.blinkiecenter {
  text-align: center;
}

.center {
  text-align: center;
}

.webrings:hover {
  color: var(--text);
}

.webrings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  gap: 10px;
  flex-direction: column;
  margin-top: 20px;
}

.foot {
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 15px;
}

/* ABOUT PAGE */
.about-box-title {
  background-color: var(--boxbackground);
  position: absolute;
  top: -25px;
  left: 15px;
}

.aboutmeinterests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

.aboutmeinterests > .side-box:hover {
  .about-box-title {
    color: var(--hilight);
  }
}

.list {
  text-align: left;
  width: 170px;
  height: 170px;
  overflow-y: auto;
  border: 1px solid var(--text);
  padding: 10px;
}

.list:hover {
  border: 1px solid var(--hilight);
  color: var(--text);
}

.list p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-weight: bold;
  color: #5e81c6;
}

.list ul {
  padding-left: 30px;
  margin-top: 0;
  list-style-type: ">> ";
}

.favoriteslists {
  margin: 0 auto;
  width: 700px;
  background-color: var(--boxbackground);
  margin-top: 20px;
  margin-bottom: 20px;
}

.favoriteslists h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.favoriteslists > p {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.vibes {
  border: 1px solid var(--text);
  padding: 10px;
  text-align: center;
  height: 575px;
  background-color: var(--boxbackground);
  overflow-x: scroll;
}

.vibes:hover {
  border: 1px solid var(--hilight);
}

.leftbutterfly {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-right: 50px;
  width: 40px;
}

.rightbutterfly {
  margin-left: 50px;
  width: 40px;
}

.rainbow {
  background-image: linear-gradient(to right, #ffadad, #ffd6a5, #fdffb6, #caffbf, #96f6ff, #a0c4ff, #bdb2ff, #ffadad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 100s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

.coolgifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.gifpadding {
  padding: 5px;
}

/* VW BUS PAGE */
.busheading {
  text-align: center;
  width: 450px;
  margin-top: 10px;
}

.timeline-list {
  text-align: left;
  list-style-type: "✿ ";
}

.bus-image-container {
  display: flex;
  align-items: center;
  width: 640px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto;
}

.restoration-img {
  height: 200px;
  margin-right: 20px;
  border: 1px solid black;
}

.restoration-img:hover {
  border: 1px solid var(--hilight);
}

/* STWABEWWY PAGE */
.stwabewwyheading {
  text-align: center;
  width: 500px;
  margin-top: 10px;
}

.ipodminiimg {
  width: 120px;
  margin: 0;
  padding: 0;
}

.rightsideimg {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 640px;
  gap: 40px;
}

/* SHRINES PAGE */
.shrinesheading {
  text-align: center;
  width: 150px;
  margin-top: 10px;
}

.shrinelink {
  text-decoration: none;
  color: var(--text);
  font-size: 30px;
}

.shrinelink:hover {
  color: var(--hilight);
}

.shrine-warning {
  display: none;
}

/* CAMERA COLECTION PAGE */
.camerasheading {
  text-align: center;
  width: 250px;
  margin-top: 10px;
}

.camera-border {
  height: 30px;
}

.camera-container {
  display: flex;
  width: 650px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.camera-img {
  max-width: 180px;
  max-height: 180px;
}

a .camera-img:hover {
  -webkit-filter: drop-shadow(0px 0px 20px rgba(204, 255, 0, 1));
  filter: drop-shadow(0px 0px 20px rgba(204, 255, 0, 1));
}

/* DIGITAL COLLECTIONS PAGE */
.collectionsheading {
  text-align: center;
  width: 200px;
  margin-top: 10px;
}

.collections-link {
  color: var(--text);
}

.blinkiesheader {
  width: 130px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.buttonsheader {
  width: 130px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.gifsheader {
  width: 70px;
  margin-top: 15px;
  margin-bottom: 0;
}

.stampsheader {
  width: 130px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.extrabottom {
  margin-bottom: 20px;
}

.centercollections {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/multi022.jpg");
  border: 8px double var(--text);
  border-radius: 20px;
  padding-bottom: 20px;
}

.collection-box {
  min-height: 653.5px;
}

.centerdiv {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.centerdiv a p:hover {
  color: var(--hilight);
}

.backlink {
  color: #573946;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.centerstamps {
  padding-left: 20px;
  padding-right: 20px;
}

/* CRT FILTER */
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}

/* BLOG STYLES */
#container {
  margin: 0 auto;
  width: 100%;
  background-color: var(--boxbackground);
  color: var(--text);
}

#postDate {
  margin-top: 0;
}

/*HEADER STYLE*/
#header {
  padding: 0 5%;
  border-color: var(--text);
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-weight: bold;
}

#header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
}

#header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#header li a {
  color: var(--text);
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--text);
  background-color: var(--boxbackground);
  margin-left: 10px;
  margin-right: 10px;
}

#header li a:hover {
  border: 1px solid var(--hilight);
  color: var(--hilight);
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: ">> ";
  width: 600px;
  display: block;
  margin: 0 auto;
  text-align: left;
}

#postlistdiv ul li:hover {
  color: var(--hilight);
}

#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: ">> ";
  width: 600px;
  display: block;
  margin: 0 auto;
  color: var(--text);
}

#recentpostlistdiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

#recentpostlistdiv ul li:hover {
  color: var(--hilight);
}

#recentpostlistdiv h2 {
  text-align: center;
  margin-top: 10px;
}

.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*FOOTER STYLE*/
#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
  border-radius: 0 0 10px 10px;
}

/* ANCHOR TAG STYLES */
a {
  text-decoration: none;
  color: var(--text);
}

a:visited {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--hilight);
  cursor: pointer;
}

/* MIS PAGE MIN HEIGHTS */
.blog-oops {
  height: 653.5px;
}

.not-found {
  height: 653.5px;
}

.obsessions-box {
  min-height: 371px;
}

.recent-posts-box {
  min-height: 279px;
}

.archive-box {
  min-height: 653.5px;
}

.blog-box {
  min-height: 653.5px;
}

/* RESOURCES PAGE */
.resource-list {
  text-align: left;
  list-style-type: ">> ";
}

.resource-buttons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 10px;
}

/* HAMBURGER MENU */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: black;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: var(--boxtitle);
}

#myLinks a {
  color: var(--text);
  line-height: 10px;
  border-bottom: 1px solid var(--text);
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

a.logo {
  font-size: 30px;
}

/* Style the active link (or home/logo) */
.active {
  background-color: black;
  color: var(--text);
}

.tabletbar {
  display: none;
}

.tablet-widgets {
  display: none;
}

.tablet-widget-desktop {
  display: none;
}

#OCverse {
  padding: 15px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1440px) {
  .link-back {
    display: none;
  }

  .angy {
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  #right-sidebar-component {
    display: none;
  }

  .tabletbar {
    display: block;
  }

  .fullscreen {
    display: none;
  }

  .navbar {
    height: auto;
    overflow-x: visible;
  }

  .content {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .main {
    width: 740px;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    height: auto;
    overflow-x: visible;
  }

  /* NOT FOUND */
  .not-found {
    height: 999px;
  }

  /* SHRINES */
  .obsessions-box {
    min-height: 626.5px;
  }

  .shrine-warning {
    display: block;
  }

  /* COLLECTIONS */
  .collection-box {
    min-height: 999px;
  }

  /* BLOG */
  .recent-posts-box {
    min-height: 623px;
  }

  .archive-box {
    min-height: 999px;
  }

  .blog-oops {
    min-height: 999px;
  }

  .blog-box {
    min-height: 999px;
  }
}

@media only screen and (max-width: 950px) {
  #left-sidebar-component {
    display: none;
  }

  #right-sidebar-component {
    display: none;
  }

  .header {
    width: auto;
    height: 90px;
    margin: 0 auto;
    position: initial;
  }

  .header h1 {
    display: none;
  }

  .topnav {
    display: initial;
  }

  .olruggio {
    display: none;
  }

  /* INDEX */
  .tablet-widgets {
    width: 215px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }

  .tablet-widget-desktop {
    display: block;
  }

  .tamanotchi-tablet {
    margin: 0 auto;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 20px;
  }

  .tablet-clap {
    padding-top: 10px;
  }

  /* NOT FOUND */
  .not-found {
    height: 80vh;
  }

  /* SHRINES */
  .obsessions-box {
    min-height: initial;
    height: auto;
  }

  /* COLLECTIONS */
  .collection-box {
    min-height: initial;
    height: auto;
  }

  /* BLOG */
  .recent-posts-box {
    min-height: 30vh;
    height: auto;
  }

  .archive-box {
    min-height: 50vh;
    height: auto;
  }

  .blog-oops {
    min-height: 50vh;
    height: auto;
  }

  .blog-box {
    min-height: 50vh;
    height: auto;
  }
}

@media only screen and (max-width: 750px) {
  .content {
    max-width: 750px;
    width: auto;
  }

  .welcomePost {
    max-width: 600px;
    width: auto;
  }

  .box-title-welcome {
    left: 80px;
  }

  /* INDEX */
  .marin-kitagawa {
    display: none;
  }

  .favoriteslists {
    max-width: 500px;
  }

  /* BUS PAGE */
  .bus-image-container {
    width: 75vw;
  }

  /* CAMERA PAGE */
  .camera-container {
    width: 80vw;
  }

  /* STWABEWWY PAGE */
  .rightsideimg {
    width: 590px;
    align-items: center;
  }

  /* BLOG */
  #recentpostlistdiv ul {
    max-width: 500px;
  }

  #footer img {
    width: 500px;
  }

  #postlistdiv ul {
    width: 500px;
  }
}

@media only screen and (max-width: 645px) {
  .header {
    height: 70px;
  }

  .content {
    max-width: 500px;
  }

  .welcomePost {
    max-width: 500px;
  }

  .box-title-welcome {
    left: 30px;
  }

  /* INDEX */
  .peacesign {
    width: 30px;
  }

  .welcomeGif {
    width: 300px;
  }

  .facts {
    max-width: 400px;
  }

  .quickfacts {
    margin: 0;
  }

  .morefavorites {
    padding-top: 0;
    padding-left: 139px;
  }

  .webrings-container {
    max-width: 400px;
  }

  .webring-prev > a > img {
    width: 60px;
  }
  .webring-info > img {
    width: 130px;
  }
  .webring-next > a > img {
    width: 60px;
  }

  /* RESOURCES PAGE */
  .resource-buttons {
    flex-wrap: wrap;
  }

  /* STWABEWWY PAGE */
  .rightsideimg {
    width: 490px;
  }

  .stwabewwyheading {
    width: 400px;
  }

  /* COLLECTIONS */
  .gif-collection-box > img {
    max-width: 400px;
  }

  /* BLOG */
  #recentpostlistdiv ul {
    max-width: 400px;
  }

  #footer {
    display: none;
  }

  #postlistdiv ul {
    width: 400px;
  }

  #postTitleH1-2 {
    text-align: left;
    font-size: 30px;
  }
}

@media only screen and (max-width: 530px) {
  h3 {
    font-size: 18px;
  }

  h2 {
    font-size: 25px;
  }

  .header {
    height: 70px;
  }

  .content {
    max-width: 300px;
  }

  .welcomePost {
    max-width: 300px;
  }

  .box-title-welcome {
    left: 60px;
  }

  /* INDEX */
  .abitaboutme h2 {
    font-size: 25px;
  }

  .facts {
    max-width: 250px;
  }

  .facts p {
    padding-top: 10px;
  }

  .morefavorites {
    padding-top: 0;
    padding-left: 0;
  }

  .webrings-container {
    max-width: 250px;
  }

  .webrings-container img {
    max-width: 250px;
  }

  #OCverse {
    padding: 0;
  }

  .webring-prev > a > img {
    width: 40px;
  }
  .webring-info > img {
    width: 90px;
  }
  .webring-next > a > img {
    width: 40px;
  }

  /* ABOUT PAGE */
  .bunnyline {
    display: none;
  }

  .favoriteslists {
    max-width: 250px;
  }

  .aboutmeinterests {
    gap: 0;
  }

  /* BUS PAGE */
  .busheading {
    width: 300px;
  }

  .bus-image-container {
    width: 300px;
  }

  .restoration-img {
    height: 150px;
  }

  figure {
    width: 300px;
  }

  figure img {
    width: 250px !important;
  }

  .rainbowline {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .rainbowline img {
    width: 320px;
  }

  /* CAMERA PAGE */
  .camerasheading {
    width: 200px;
  }

  .camera-container {
    width: 250px;
    gap: 0;
  }

  .camera-img {
    height: 90px;
  }

  /* SHRINES */
  .shrinelink {
    font-size: 25px;
  }

  /* STWABEWWY PAGE */
  .ipodminiimg {
    width: 100px !important;
  }
  .rightsideimg {
    width: 300px;
    flex-direction: column-reverse;
    gap: 0;
    padding-top: 10px;
  }

  .rightsideimg figure {
    flex-direction: column;
    align-items: center;
  }

  .spotify-article {
    width: auto;
  }

  .stwabewwyheading {
    width: 300px;
  }

  /* COLLECTIONS */
  .back-to-collections {
    width: 300px;
  }

  .gif-collection-box > img {
    max-width: 300px;
  }

  /* BLOG */
  #header ul li {
    margin: 10px;
  }

  #recentpostlistdiv ul {
    max-width: 220px;
    font-size: 16px;
  }

  #postlistdiv ul {
    width: 220px;
    font-size: 16px;
  }

  #postTitleH1-2 {
    text-align: left;
    font-size: 25px;
  }

  #postDate {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
