:root {
  --text: #573946;
  --hilight: #8099cb;
  --boxbackground: rgba(255, 255, 255, 0.5);
  --boxtitle: #faecec;
}

html {
  cursor: url("/images/win982.png"), default;
  height: 100vh;
}

body {
  background-image: url("/images/pink145.jpg");
  color: var(--text);
  font-family: "Gaegu", sans-serif;
  margin: 0;
  line-height: 120%;
}

hr {
  border-width: 0;
  height: 2px;
  border-top: 2px dashed white;
}

h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}

figcaption {
  font-size: 15px;
  color: var(--text);
  margin-top: 5px;
}

.theme-2 {
  display: none;
}

button:hover {
  cursor: pointer;
}

.archivediv {
  margin-top: 20px;
}

#tablet-sidebar-component {
  display: none;
}

#home {
  display: block;
}

#about {
  display: none;
}

#about-test {
  display: none;
}

/* HOME PAGE */
/* HEADER */
.header {
  width: 1090px;
  height: 110px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.angy {
  width: 120px;
  position: absolute;
  top: 734%;
  left: 109%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px black;
}

.link-back {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 86%;
  left: 2%;
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  background-color: var(--boxbackground);
}

.link-back:hover {
  border: 1px solid var(--hilight);
}

.link-back-button {
  padding-bottom: 10px;
}

textarea {
  font-size: 12px;
}

.olruggio {
  height: 130px;
  position: absolute;
  top: -0.2%;
  left: 26%;
  z-index: -1;
}

.content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.bestviewed {
  margin-top: 5px;
}

.welcome-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.peacesign {
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

/* RIGHT SIDEBAR */
.rightbar {
  width: 180px;
  margin-top: 5px;
  float: right;
}

.clap {
  padding: 13px;
  padding-bottom: 5px;
  border: 1px solid var(--text);
  border-radius: 5px;
  background-color: var(--boxbackground);
  text-align: center;
}

.clap img {
  padding-top: 2px;
}

.clap:hover {
  border: 1px solid var(--hilight);
}

.guestbook-link {
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--boxbackground);
}

.guestbook-link:hover {
  border: 1px solid var(--hilight);
}

.guestbookGif {
  width: 150px;
}

#guestbook-frame {
  width: 100%;
  height: 600px;
  border: 0;
}

.tamanotchi {
  width: 160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: var(--boxbackground);
}

.tamanotchi:hover {
  border: 1px solid var(--hilight);
}

.sidestamp {
  padding-bottom: 7px;
}

.cursorattribution {
  margin: 0 auto;
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: var(--boxbackground);
}

.visitors {
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
  padding-top: 16px;
  padding-bottom: 9px;
  background-color: var(--boxbackground);
  text-align: center;
  height: 23px;
  padding-top: 15px;
}

.visitors:hover {
  border: 1px solid var(--hilight);
}

.visitcount {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.style-changer {
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
  padding-top: 15px;
  background-color: var(--boxbackground);
  text-align: center;
}

.style-changer:hover {
  border: 1px solid var(--hilight);
}

button {
  background-image: url("/images/multi022.jpg");
  border-radius: 10px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15.75px;
  font-family: "Gaegu", sans-serif;
  width: 130px;
  border: none;
}

button:hover {
  background-color: black;
  background-image: none;
  color: white;
  font-family: "VT323", monospace;
  font-size: 15px;
  border-radius: 0;
  border: 1px solid #ccff00;
}

.find-me {
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 6px;
  background-color: var(--boxbackground);
}

.find-me:hover {
  border: 1px solid var(--hilight);
}

.chatbox {
  border: 1px solid var(--text);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  padding-left: 5px;
  padding-right: 5px;
}

.chatbox:hover {
  border: 1px solid var(--hilight);
}

.pp {
  padding: 0;
  margin: 0;
}

/* CENTER MAIN CONTENT */
.main {
  width: 740px;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;
  height: 675.5px;
  overflow-x: auto;
}

.main .link {
  color: var(--hilight);
}

.welcome {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 50px;
}

.gifheading {
  position: absolute;
  height: 75px;
  top: 94.5%;
  left: 66%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.welcomePost {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--boxbackground);
}

.welcomePost:hover {
  border: 1px solid var(--hilight);
  h2 {
    color: var(--hilight);
  }
  p {
    color: var(--text);
  }
  .favoriteslists {
    color: var(--text);
  }
  .list {
    color: var(--text);
  }
  .box-title {
    color: var(--hilight);
  }
  ul {
    color: var(--text);
  }
  h3 {
    color: var(--text);
  }
  .box-title-welcome {
    color: var(--hilight);
  }
  .blog-h1 {
    color: var(--hilight);
  }
  .green-hover {
    color: var(--hilight);
  }
  .about-heading {
    color: var(--text);
  }
}

.welcomePost p,
.welcomePost h2 {
  text-align: left;
}

.welcomeGif {
  width: 400px;
  padding-top: 10px;
}

marquee img {
  padding-right: 10px;
}

.extraspace {
  padding-top: 15px;
}

.aboutGif {
  width: 200px;
  padding-top: 10px;
}

.facts {
  display: flex;
  width: 560px;
  text-align: left;
  flex-wrap: wrap;
  padding: 10px;
  padding-right: 0;
}

.abitaboutme {
  color: var(--text);
}

.abitaboutme h2 {
  padding: 0;
  margin: 0;
}

.quickfacts {
  margin-bottom: 20px;
  margin-right: 30px;
}

.morefavorites {
  width: 200px;
  padding-top: 24px;
}

.facts p {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.facts ul {
  margin: 0;
  list-style-type: "✿ ";
}

.funfacts {
  margin-bottom: 13px;
}

.marin-kitagawa {
  height: 380px;
  margin-left: -40px;
}

.about-me-main-pg {
  display: flex;
  /* width: 690px; */
  align-items: start;
  padding-left: 10px;
}

.welcomePost h3 {
  padding-bottom: 5px;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: var(--text);
}

.link:hover {
  color: var(--hilight);
}

.about-heading {
  display: inline-block;
}

.leftflower {
  display: inline-block;
  margin-right: 20px;
}

.rightflower {
  display: inline-block;
  -webkit-transform: scale(-1, -1);
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  transform: scale(-1, -1);
  margin-left: 20px;
}

.centerimg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.stampsScroll {
  padding-top: 20px;
}

/* LEFT SIDEBAR */
.leftbar {
  width: 180px;
  margin-top: 5px;
  float: left;
}

.navbar {
  padding: 10px;
  border: 1px solid var(--text);
  border-radius: 5px;
  color: var(--text);
  background-color: var(--boxbackground);
  height: 152px;
  overflow-x: scroll;
}

.navbar:hover {
  border: 1px solid var(--hilight);
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-box {
  margin-top: 17px;
  position: relative;
}

.side-box-about {
  margin-top: 19px;
  position: relative;
}

.box-title {
  background-color: var(--boxtitle);
  position: absolute;
  top: -25px;
  left: 15px;
  font-size: 16px;
}

.box-title-welcome {
  background-color: var(--boxtitle);
  position: absolute;
  top: -25px;
  left: 28px;
  font-size: 16px;
}

#statuscafe-content {
  height: 67px;
  overflow-x: auto;
  line-height: 100%;
}

#statuscafe-content:hover {
  color: var(--text);
}

#statuscafe-username {
  display: none;
}

.mystatus {
  margin-top: 5px;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 15px;
  height: 70px;
  border: 1px solid var(--text);
  border-radius: 5px;
  background-color: var(--boxbackground);
}

.mystatus:hover {
  border: 1px solid var(--hilight);
}

.mystatus p {
  margin-top: 0;
  padding-top: 0;
}

.navbar h3 {
  padding: 0;
  margin: 0;
}

.indentList {
  list-style-type: none;
}

.mytime {
  padding: 10px;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--text);
  border-radius: 5px;
  background-color: var(--boxbackground);
  text-align: center;
}

.mytime:hover {
  border: 1px solid var(--hilight);
}

.side-box:hover {
  color: var(--hilight);
}

.navlinkbox {
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
  background-color: var(--boxbackground);
}

.navlinkbox:hover {
  border: 1px solid var(--hilight);
}

.navlinkads {
  width: 160px;
  height: 160px;
}

.navlink {
  color: var(--text);
  text-decoration: none;
}

.navlink:hover {
  color: var(--hilight);
}

.navList li:hover {
  color: var(--hilight);
}

.statuspost {
  height: 100px;
  overflow-y: auto;
}

.statuscafe {
  width: 160px;
}

.changelog {
  padding: 10px;
  padding-top: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--text);
  border-radius: 5px;
  color: var(--text);
  scrollbar-width: thin;
  background-color: var(--boxbackground);
  height: 90px;
}

.changelog:hover {
  border: 1px solid var(--hilight);
}

.changelogposts {
  height: 95px;
  overflow-y: auto;
}

.changelogposts > p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.1;
  padding-bottom: 6px;
}

.timecounter {
  pointer-events: none;
}

.statuspost {
  height: 60px;
}

/* OTHER HOMEPAGE STYLES */
.hilight {
  color: var(--hilight);
}

.sidebarHeading {
  width: auto;
  height: 19px;
  position: absolute;
  left: 15px;
  top: -8px;
}

.buttons {
  width: 160px;
  display: flex;
  justify-content: left;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 13px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--text);
  border-radius: 5px;
  scrollbar-width: thin;
  background-color: var(--boxbackground);
}

.buttons:hover {
  border: 1px solid var(--hilight);
}

.buttons > img {
  padding-right: 3px;
  padding-bottom: 3px;
}

.borderblinkie {
  padding-top: 10px;
  margin-bottom: 0;
}

.blinkiecenter {
  text-align: center;
}

.center {
  text-align: center;
}

.webrings:hover {
  color: var(--text);
}

.webrings-heading {
  width: 170px;
  margin-top: 10px;
}

.webrings-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  gap: 10px;
  flex-direction: column;
  margin-top: 10px;
}

.foot {
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 10px;
}

/* ABOUT PAGE */
.about-box-title {
  background-color: var(--boxtitle);
  position: absolute;
  top: -25px;
  left: 15px;
  border-radius: 5px;
}

.aboutmeinterests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

.aboutmeinterests > .side-box:hover {
  .about-box-title {
    color: var(--hilight);
  }
}

.list {
  text-align: left;
  width: 170px;
  height: 170px;
  overflow-y: auto;
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
}

.list:hover {
  border: 1px solid var(--hilight);
  color: var(--text);
}

.list p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-weight: bold;
  color: #5e81c6;
}

.list ul {
  padding-left: 30px;
  margin-top: 0;
  list-style-type: "✿ ";
}

.favoriteslists {
  margin: 0 auto;
  width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.favoriteslists h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.favoriteslists > p {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.vibes {
  border: 1px solid var(--text);
  padding: 10px;
  text-align: center;
  height: 575px;
  background-color: var(--boxbackground);
  overflow-x: scroll;
}

.vibes:hover {
  border: 1px solid var(--hilight);
}

.leftbutterfly {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-right: 50px;
  width: 40px;
}

.rightbutterfly {
  margin-left: 50px;
  width: 40px;
}

.rainbow {
  background-image: linear-gradient(to right, #ffadad, #ffd6a5, #fdffb6, #caffbf, #96f6ff, #a0c4ff, #bdb2ff, #ffadad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 100s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

.coolgifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.gifpadding {
  padding: 5px;
}

/* VW BUS PAGE */
.busheading {
  text-align: center;
  width: 450px;
  margin-top: 10px;
}

.timeline-list {
  text-align: left;
  list-style-type: "✿ ";
}

.bus-image-container {
  display: flex;
  align-items: center;
  width: 640px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto;
}

.restoration-img {
  height: 200px;
  margin-right: 20px;
  border: 1px solid black;
}

.restoration-img:hover {
  border: 1px solid var(--hilight);
}

/* STWABEWWY PAGE */
.stwabewwyheading {
  text-align: center;
  width: 500px;
  margin-top: 10px;
}

.ipodminiimg {
  width: 120px;
  margin: 0;
  padding: 0;
}

.rightsideimg {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 640px;
  gap: 40px;
}

.spotify-article {
  width: 450px;
  margin: 0 auto;
}

/* SHRINES PAGE */
.shrinesheading {
  text-align: center;
  width: 150px;
  margin-top: 10px;
}

.shrinelink {
  text-decoration: none;
  color: var(--hilight);
  font-size: 30px;
}

.leftstar {
  display: inline-block;
  -webkit-transform: scale(-1, -1);
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  transform: scale(-1, -1);
  margin-right: 50px;
}

.rightstar {
  margin-left: 50px;
}

.shrine-warning {
  display: none;
}

/* CAMERA COLECTION PAGE */
.camerasheading {
  text-align: center;
  width: 250px;
  margin-top: 10px;
}

.camera-border {
  height: 30px;
}

.camera-container {
  display: flex;
  width: 650px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.camera-img {
  max-width: 180px;
  max-height: 180px;
}

a .camera-img:hover {
  -webkit-filter: drop-shadow(0px 0px 20px #5e81c6);
  filter: drop-shadow(0px 0px 20px #5e81c6);
}

/* DIGITAL COLLECTIONS PAGE */
.collectionsheading {
  text-align: center;
  width: 200px;
  margin-top: 10px;
}

.collections-link {
  color: var(--text);
}

.blinkiesheader {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.buttonsheader {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.gifsheader {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 0;
}

.stampsheader {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.extrabottom {
  margin-bottom: 20px;
}

.centercollections {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/multi022.jpg");
  border: 8px double var(--text);
  border-radius: 20px;
  padding-bottom: 20px;
}

.centerdiv {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.centerdiv a p:hover {
  color: var(--hilight);
}

.backlink {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.centerstamps {
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

.collection-box {
  min-height: 653.5px;
}

/* BLOG STYLES */
/* TITLES */
.titlegif {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.oopsgif {
  height: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.blog-oops {
  height: 653.5px;
}

#container {
  margin: 0 auto;
  width: 100%;
  color: var(--text);
}

#postDate {
  margin-top: 10px;
}

/*HEADER STYLE*/
#header {
  padding: 0 5%;
  border-color: white;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-weight: bold;
}

#header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
}

#header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

#header li a {
  color: white;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-image: url("/images/multi022.jpg");
  margin-left: 10px;
  margin-right: 10px;
}
#header li a:hover {
  background-color: pink;
  color: black;
}

.archivetitle {
  height: 45px;
  padding-top: 15px;
  padding-bottom: 10px;
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: "✿ ";
  width: 600px;
  display: block;
  margin: 0 auto;
  text-align: left;
}

#postlistdiv ul li:hover {
  color: var(--hilight);
}

#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: "✿ ";
  width: 600px;
  display: block;
  margin: 0 auto;
  color: var(--text);
}

#recentpostlistdiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

#recentpostlistdiv h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
}

#recentpostlistdiv ul li:hover {
  color: var(--hilight);
}

#recentpostlistdiv h2 {
  text-align: center;
  margin-top: 10px;
}

.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*FOOTER STYLE*/
#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
  border-radius: 0 0 10px 10px;
}

/* ANCHOR TAG STYLES */
a {
  text-decoration: none;
  color: var(--text);
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: var(--hilight);
  cursor: pointer;
}

/* MISC PAGE MIN HEIGHTS */
.not-found {
  height: 653.5px;
}

.obsessions-box {
  min-height: 308.5px;
}

.recent-posts-box {
  min-height: 227px;
}

.archive-box {
  min-height: 653.5px;
}

.blog-box {
  min-height: 653.5px;
}

/* RESOURCES PAGE */
.resource-list {
  text-align: left;
  list-style-type: "✿ ";
}

.resourcesGif {
  height: 35px;
  padding-top: 15px;
}

.leftpikachu {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-right: 50px;
  width: 50px;
}

.rightpikachu {
  margin-left: 50px;
  width: 50px;
}

.resource-buttons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 5px;
}

/* HAMBURGER MENU */
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: transparent;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: var(--boxtitle);
}

#myLinks a {
  color: var(--text);
  line-height: 10px;
  border-bottom: 1px solid var(--text);
}

/* Style the hamburger menu */
.topnav a.icon {
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

a.logo {
  font-size: 30px;
}

/* Style the active link (or home/logo) */
.active {
  /* background-color: #f4bfbf; */
  background-image: url(/images/multi022.jpg);
  background-size: 50%;
  color: var(--text);
}

.tabletbar {
  display: none;
}

.tablet-widgets {
  display: none;
}

.tablet-widget-desktop {
  display: none;
}

#OCverse {
  padding: 15px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1440px) {
  .link-back {
    display: none;
  }

  .angy {
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  #right-sidebar-component {
    display: none;
  }

  .tabletbar {
    display: block;
  }

  .fullscreen {
    display: none;
  }

  .navbar {
    height: auto;
    overflow-x: visible;
  }

  .content {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .main {
    width: 740px;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    height: auto;
    overflow-x: visible;
  }

  /* NOT FOUND */
  .not-found {
    height: 999px;
  }

  /* SHRINES */
  .obsessions-box {
    min-height: 626.5px;
  }

  .shrine-warning {
    display: none;
  }

  /* COLLECTIONS */
  .collection-box {
    min-height: 999px;
  }

  /* BLOG */
  .recent-posts-box {
    min-height: 572px;
  }

  .archive-box {
    min-height: 999px;
  }

  .blog-oops {
    min-height: 999px;
  }

  .blog-box {
    min-height: 999px;
  }
}

@media only screen and (max-width: 950px) {
  #left-sidebar-component {
    display: none;
  }

  #right-sidebar-component {
    display: none;
  }

  .header {
    width: auto;
    height: 90px;
    margin: 0 auto;
    position: initial;
  }

  .topnav {
    display: initial;
  }

  .olruggio {
    display: none;
  }

  .gifheading {
    display: none;
  }

  /* INDEX */
  .tablet-widgets {
    width: 215px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }

  .tablet-widget-desktop {
    display: block;
  }

  .tamanotchi-tablet {
    margin: 0 auto;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 20px;
  }

  .tablet-clap {
    padding-top: 10px;
  }

  /* NOT FOUND */
  .not-found {
    height: 80vh;
  }

  /* SHRINES */
  .obsessions-box {
    min-height: initial;
    height: auto;
  }

  /* COLLECTIONS */
  .collection-box {
    min-height: initial;
    height: auto;
  }

  /* BLOG */
  .recent-posts-box {
    min-height: initial;
    height: auto;
  }

  .archive-box {
    min-height: 50vh;
    height: auto;
  }

  .blog-oops {
    min-height: 50vh;
    height: auto;
  }

  .blog-box {
    min-height: 50vh;
    height: auto;
  }
}

@media only screen and (max-width: 750px) {
  .content {
    max-width: 750px;
    width: auto;
  }

  .welcomePost {
    max-width: 600px;
    width: auto;
  }

  .box-title-welcome {
    left: 80px;
  }

  /* INDEX */
  .marin-kitagawa {
    display: none;
  }

  .favoriteslists {
    max-width: 500px;
  }

  /* BUS PAGE */
  .bus-image-container {
    width: 75vw;
  }

  /* CAMERA PAGE */
  .camera-container {
    width: 80vw;
  }

  /* STWABEWWY PAGE */
  .rightsideimg {
    width: 590px;
    align-items: center;
  }

  /* BLOG */
  #recentpostlistdiv ul {
    max-width: 500px;
  }

  #footer img {
    width: 500px;
  }

  #postlistdiv ul {
    width: 500px;
  }
}

@media only screen and (max-width: 645px) {
  .header {
    height: 70px;
  }

  .content {
    max-width: 500px;
  }

  .welcomePost {
    max-width: 500px;
  }

  .box-title-welcome {
    left: 30px;
  }

  /* INDEX */
  .peacesign {
    width: 30px;
  }

  .welcomeGif {
    width: 300px;
  }

  .facts {
    max-width: 400px;
  }

  .quickfacts {
    margin: 0;
  }

  .morefavorites {
    padding-top: 0;
    padding-left: 139px;
  }

  .webrings-container {
    max-width: 400px;
  }

  .webring-prev > a > img {
    width: 60px;
  }
  .webring-info > img {
    width: 130px;
  }
  .webring-next > a > img {
    width: 60px;
  }

  /* RESOURCES PAGE */
  .resource-buttons {
    flex-wrap: wrap;
  }

  /* STWABEWWY PAGE */
  .rightsideimg {
    width: 490px;
  }

  .stwabewwyheading {
    width: 400px;
  }

  /* COLLECTIONS */
  .gif-collection-box > img {
    max-width: 400px;
  }

  /* BLOG */
  #recentpostlistdiv ul {
    max-width: 400px;
  }

  #footer {
    display: none;
  }

  #postlistdiv ul {
    width: 400px;
  }

  .leftguy {
    margin-right: 80px !important;
  }

  .rightguy {
    margin-left: 80px !important;
  }
}

@media only screen and (max-width: 530px) {
  h3 {
    font-size: 15px;
  }

  .header {
    height: 70px;
  }

  .content {
    max-width: 300px;
  }

  .welcomePost {
    max-width: 300px;
  }

  .box-title-welcome {
    left: 60px;
  }

  /* INDEX */
  .peacesign {
    display: none;
  }

  .welcomeGif {
    width: 260px;
    margin: 0 auto;
  }

  .rightflower {
    display: none;
  }

  .leftflower {
    display: none;
  }

  .abitaboutme h2 {
    font-size: 25px;
  }

  .facts {
    max-width: 250px;
  }

  .facts p {
    padding-top: 10px;
  }

  .morefavorites {
    padding-top: 0;
    padding-left: 0;
  }

  .webrings-container {
    max-width: 250px;
  }

  .webrings-container img {
    max-width: 250px;
  }

  #OCverse {
    padding: 0;
  }

  .webring-prev > a > img {
    width: 40px;
  }
  .webring-info > img {
    width: 90px;
  }
  .webring-next > a > img {
    width: 40px;
  }

  /* ABOUT PAGE */
  .leftbutterfly {
    display: none;
  }

  .rightbutterfly {
    display: none;
  }

  .aboutGif {
    width: 150px;
  }

  .bunnyline {
    display: none;
  }

  .favoriteslists {
    max-width: 250px;
  }

  .aboutmeinterests {
    gap: 0;
  }

  /* BUS PAGE */
  .busheading {
    width: 300px;
  }

  .bus-image-container {
    width: 300px;
  }

  .restoration-img {
    height: 150px;
  }

  figure {
    width: 300px;
  }

  figure img {
    width: 250px !important;
  }

  .rainbowline {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .rainbowline img {
    width: 320px;
  }

  /* CAMERA PAGE */
  .camerasheading {
    width: 200px;
  }

  .camera-container {
    width: 250px;
    gap: 0;
  }

  .camera-img {
    height: 90px;
  }

  /* SHRINES */
  .leftstar {
    display: none;
  }

  .rightstar {
    display: none;
  }

  .shrinelink {
    font-size: 25px;
  }

  /* STWABEWWY PAGE */
  .ipodminiimg {
    width: 100px !important;
  }
  .rightsideimg {
    width: 300px;
    flex-direction: column-reverse;
    gap: 0;
    padding-top: 10px;
  }

  .rightsideimg figure {
    flex-direction: column;
    align-items: center;
  }

  .spotify-article {
    width: auto;
  }

  .stwabewwyheading {
    width: 300px;
  }

  /* COLLECTIONS */
  .back-to-collections {
    width: 300px;
  }

  .gif-collection-box > img {
    max-width: 300px;
  }

  /* BLOG */
  .rightcat {
    display: none;
  }

  .leftcat {
    display: none;
  }

  #header ul li {
    margin: 10px;
  }

  #recentpostlistdiv ul {
    max-width: 220px;
    font-size: 16px;
  }

  #postlistdiv ul {
    width: 220px;
    font-size: 16px;
  }

  .leftblob {
    display: none;
  }

  .rightblob {
    display: none;
  }

  .leftguy {
    display: none;
  }

  .rightguy {
    display: none;
  }
}
