html {
  cursor: url("/images/Normal-Select.png"), default;
  height: 100vh;
}

body {
  background-image: url("../images/background.png");
  font-family: "Gaegu", sans-serif;
  padding-bottom: 10px;
}

/* GENERAL ELEMENTS */
hr {
  border-width: 0;
  height: 2px;
  border-top: 2px dashed white;
}

h2 {
  font-size: 30px;
  margin-top: 0;
}

figure {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}

figcaption {
  font-size: 15px;
  color: #5e81c6;
  margin-top: 5px;
}

#light-theme-content {
  display: block;
}

#dark-theme-content {
  display: none;
}

.theme-2 {
  display: none;
}

button:hover {
  cursor: pointer;
}

/* HOME PAGE */
/* top of page and bg content */

.header {
  width: 1100px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  background-image: url("../images/multi022.jpg");
  border: 7px double white;
  border-radius: 30px 30px 0px 0px;
  position: relative;
}

.header h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 70px;
}

.angy {
  width: 100px;
  position: absolute;
  top: 58.4%;
  left: 92%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px black;
}

.content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  background-image: url("../images/multi022.jpg");
  border: 7px double white;
  border-radius: 0px 0px 30px 30px;
}

.about-heading {
  display: inline-block;
}

/* right side content */
.rightbar {
  width: 180px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  padding-left: 0;
  margin-left: 0;
  float: right;
}
.style-changer {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

button {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #573946;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15.75px;
  font-family: "Gaegu", sans-serif;
  width: 130px;
  border: none;
}

button:hover {
  background-color: black;
  color: white;
  font-family: "VT323", monospace;
  font-size: 15px;
  border-radius: 0;
  border: 1px solid #ccff00;
}

.style-heading {
  width: 60px;
}

.find-me {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-bottom: 15px;
}

.links-heading {
  width: 80px;
}

.find-me p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
}

.clap {
  width: 140px;
  text-align: center;
  margin: 0 auto;
}

.clapheading {
  width: 130px;
}

.guestbook-link {
  text-align: center;
}

.guestbook-heading {
  width: 230px;
  margin-top: 10px;
}

.guestbookGif {
  width: 150px;
}

#guestbook-frame {
  width: 100%;
  min-height: 800px;
  border:0;
}

.tamanotchi {
  width: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.tamanotchiheading {
  width: 120px;
  padding-bottom: 5px;
}

.sidestamp {
  padding-bottom: 7px;
}

.blinkiemarquee {
  width: 150px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

.cursorattribution {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 160px;
}

.visitorheading {
  width: 85px;
}

.visitors {
  margin: 0 auto;
  text-align: center;
}

/* middle content */

.main {
  width: 740px;
  padding: 10px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  background-color: #ffedf5;
  color: #573946;
}

.welcome {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 50px;
}

.gifheading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcomePost {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.welcomePost p,
.welcomePost h2 {
  text-align: left;
}

.welcomeGif {
  width: 500px;
  padding-top: 10px;
}

marquee img {
  padding-right: 10px;
}

.borderbox {
  border: 4px dashed white;
  border-radius: 10px;
  margin-top: 20px;
}

.borderbox h2 {
  text-align: center;
}

.extraspace {
  padding-top: 15px;
}

.aboutGif {
  width: 200px;
  padding-top: 10px;
}

.facts {
  display: flex;
  width: 600px;
  text-align: left;
  flex-wrap: wrap;
  padding: 10px;
}

.abitaboutme {
  padding: 20px;
}

.abitaboutme h2 {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.quickfacts {
  margin-bottom: 20px;
  margin-right: 30px;
}

.morefavorites {
  width: 200px;
  padding-top: 24px;
}

.facts p {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.facts ul {
  margin: 0;
  list-style-type: "✿ ";
}

.welcomePost h3 {
  padding-bottom: 5px;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: #5e81c6;
}

.leftflower {
  display: inline-block;
  margin-right: 20px;
}

.rightflower {
  display: inline-block;
  -webkit-transform: scale(-1, -1);
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  transform: scale(-1, -1);
  margin-left: 20px;
}

.centerimg {
  display: block;
  margin: auto;
}

/* left side content */
.leftbar {
  width: 180px;
  padding: 5px;
  margin: 5px;
  float: left;
}

.navbar {
  padding: 10px;
  border-radius: 5px;
  color: #573946;
  background-color: rgba(255, 255, 255, 0.5);
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mystatus {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 0;
  height: 100px;
}

.navbar h3 {
  padding: 0;
  margin: 0;
}

.indentList {
  list-style-type: none;
}

.timeheading {
  width: 80px;
}

.mytime {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #573946;
  background-color: rgba(255, 255, 255, 0.5);
}

.navlinkads {
  border-radius: 5px;
}

.navlink {
  color: #573946;
  text-decoration: none;
}

.navlink:hover {
  color: #8099cb;
}

.navList li:hover {
  color: #8099cb;
}

.statuspost {
  height: 100px;
  overflow-y: auto;
}

.statuscafe {
  width: 160px;
}

.changelog {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #573946;
  background-color: rgba(255, 255, 255, 0.5);
}

.changelogheading {
  width: 100px;
  padding: 0;
  margin: 0;
}

.changelogposts {
  height: 100px;
  overflow-y: auto;
}

.changelogposts > p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.1;
  padding-bottom: 6px;
}

.timecounter {
  pointer-events: none;
}

.statuspost {
  height: 60px;
}

/* content on all sides */
.hilight {
  color: #5e81c6;
}

.sidebarHeading {
  width: 100px;
}

.buttons {
  width: 190px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.buttons > img {
  padding-right: 3px;
  padding-bottom: 3px;
}

.borderblinkie {
  padding-top: 10px;
  margin-bottom: 0;
}

.blinkiecenter {
  text-align: center;
}

.blinkieheading {
  width: 90px;
}

.center {
  text-align: center;
}

.sideblinkie {
  margin: 0;
  padding: 0;
}

.verybottom {
  text-align: center;
  margin-top: 20px;
  color: #573946;
}

/* ABOUT PAGE */

.aboutmeinterests {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 15px;
}

.list {
  text-align: left;
  width: 170px;
  height: 170px;
  overflow-y: auto;
  border: 2px dashed white;
  padding: 10px;
}

.list p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-weight: bold;
  color: #5e81c6;
}

.list ul {
  padding-left: 30px;
  margin-top: 0;
  list-style-type: "✿ ";
}

.favoriteslists {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 660px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.favoriteslists h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.favoriteslists > p {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.leftbutterfly {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-right: 50px;
  width: 40px;
}

.rightbutterfly {
  margin-left: 50px;
  width: 40px;
}

.rainbow {
  background-image: linear-gradient(to right, #ffadad, #ffd6a5, #fdffb6, #caffbf, #96f6ff, #a0c4ff, #bdb2ff, #ffadad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 100s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

.coolgifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.gifpadding {
  padding: 5px;
}

.side-box {
  position: relative;
}

.side-box-about {
  margin-top: 19px;
  position: relative;
}

.box-title {
  background-color: #ffedf5;
  position: absolute;
  top: -25px;
  left: 15px;
}

.side-box .box-title {
  font-weight: bold;
  color: #5e81c6;
}

.about-box-title {
  background-color: #ffedf5;
  position: absolute;
  top: -25px;
  left: 15px;
}

.side-box .about-box-title {
  font-weight: bold;
  color: #5e81c6;
}

/* VW BUS PAGE */
.busheading {
  text-align: center;
  width: 450px;
  margin-top: 10px;
}

.timeline-list {
  text-align: left;
  list-style-type: "✿ ";
}

.bus-image-container {
  display: flex;
  align-items: center;
  width: 600px;
  overflow-x: auto;
  overflow-y: hidden;
}

.restoration-img {
  height: 200px;
  padding-right: 20px;
}

/* STWABEWWY PAGE */
.stwabewwyheading {
  text-align: center;
  width: 500px;
  margin-top: 10px;
}

.ipodminiimg {
  width: 120px;
  margin: 0;
  padding: 0;
}

.rightsideimg {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 630px;
}

/* SHRINES PAGE */
.shrinesheading {
  text-align: center;
  width: 150px;
  margin-top: 10px;
}

.shrinelink {
  text-decoration: none;
  color: #8099cb;
  font-size: 30px;
}

.leftstar {
  display: inline-block;
  -webkit-transform: scale(-1, -1);
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  transform: scale(-1, -1);
  margin-right: 50px;
}

.rightstar {
  margin-left: 50px;
}

/* CAMERA COLECTION PAGE */
.camerasheading {
  text-align: center;
  width: 250px;
  margin-top: 10px;
}

.camera-border {
  height: 30px;
}

.camera-container {
  display: flex;
  margin: 0 auto;
  width: 600px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.camera-img {
  max-width: 180px;
  max-height: 180px;
}

a .camera-img:hover {
  -webkit-filter: drop-shadow(0px 0px 20px #5e81c6);
  filter: drop-shadow(0px 0px 20px #5e81c6);
}

/* COLLECTIONS PAGE */
.collectionsheading {
  text-align: center;
  width: 200px;
  margin-top: 10px;
}

.blinkiesheader {
  width: 130px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.buttonsheader {
  width: 130px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.gifsheader {
  width: 70px;
  margin-top: 15px;
  margin-bottom: 0;
}

.stampsheader {
  width: 130px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.extrabottom {
  margin-bottom: 20px;
}

.centercollections {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/multi022.jpg");
  border: 8px double white;
  border-radius: 20px;
  padding-bottom: 20px;
}

.backlink {
  color: #573946;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.backlink-right {
  color: #573946;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: absolute;
  top: 1.5%;
  left: 72.5%;
}

.centerstamps {
  padding-left: 20px;
  padding-right: 20px;
}

.collection-box {
  width: 650px;
}

.centerdiv {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

/*HEADER STYLE*/
#header {
  /* background-color: #384879; */
  /* background-image: url("../../images/multi022.jpg"); */
  padding: 0 5%;
  border-color: white;
  border-radius: 10px 10px 0 0;
  /* border-style: ridge;
    border-width: 0 0 4px 0; */
  text-align: center;
  font-weight: bold;
}
#header ul {
  list-style-type: none;
  padding: 0.5em 0;
  margin: 0;
  text-align: center;
}
#header li {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
#header li a {
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: 2px dashed white;
  background-color: #8099cb;
  margin-left: 10px;
  margin-right: 10px;
}
#header li a:hover {
  background-color: pink;
  color: black;
}

/*POST LIST STYLE*/
#postlistdiv ul {
  font-size: 1.2em;
  padding: 0px;
  list-style-type: "✿ ";
  width: 500px;
  display: block;
  margin: 0 auto;
  text-align: left;
}
#recentpostlistdiv ul {
  font-size: 1.2em;
  padding: 0;
  list-style-type: "✿ ";
  width: 500px;
  display: block;
  margin: 0 auto;
}
#recentpostlistdiv ul li::marker {
  color: #5e81c6;
}
#postlistdiv ul li::marker {
  color: #5e81c6;
}
#recentpostlistdiv h2 {
  text-align: center;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #5e81c6;
}

.moreposts {
  font-size: 0.8em;
  margin-top: 0.2em;
}

#recentpostlistdiv h3 {
  text-align: center;
  margin-bottom: 10px;
}

#postlistdiv h3 {
  text-align: center;
  margin-bottom: 10px;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

/*DISQUS STYLE*/
#disqus_thread {
  margin-top: 1.6em;
}

/*FOOTER STYLE*/
#footer {
  font-size: 0.8em;
  padding: 0 5% 10px 5%;
  /* background-image: url("../../images/multi022.jpg"); */
  border-radius: 0 0 10px 10px;
}

.archivetitle {
  width: 160px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.archivediv {
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

a:hover {
  cursor: pointer;
}

/* unused stuff i dont wanna get rid of yet */

/* text-shadow: 2px 2px 5px black; */

/* .links {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 4px dashed white;
} */

/* .mainnavimg {
  height: 30px;
  padding: 10px;
  padding-right: 20px;
} */

/* INDEX PAGE
.indexmain {
  width: 600px;
  margin: 0 auto;
  background-color: #ffedf5;
  padding: 20px;
}

.contentindex {
  width: 900px;
  margin: 0 auto;
  display: flex;
  background-image: url("../images/multi022.jpg");
  border: 7px double white;
  border-radius: 0px 0px 30px 30px;
}

.headerindex {
  width: 900px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  background-image: url("../images/multi022.jpg");
  border: 7px double white;
  border-radius: 30px 30px 0px 0px;
  position: relative;
}

.helloindexheading {
  width: 400px;
}

.indexenter {
  color: #5e81c6;
  text-decoration: none;
  border: 3px dashed white;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.everythingindex {
  position: absolute;
  top: 10%;
  left: 20%;
}

.nekoindex {
  margin-top: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
} */
/* 
.mepng {
  width: 200px;
  border-radius: 10px;
  border: 4px solid white;
} */
